*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/KmlReview.mp4
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/dictionaries/arek.xml
/app/src/main/java/com/kml/data/externalDbOperations/ExternalDbHelper.kt
/app/release/KmlApp.apk
