<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kml">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".data.app.KmlApp"
        android:allowBackup="false"
        android:description="@string/app_description"
        android:fullBackupContent="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".views.SummaryInputDataActivity"
            android:parentActivityName=".views.SelectVolunteersActivity"/>
        <activity
            android:name=".views.SelectVolunteersActivity"
            android:parentActivityName=".views.MainActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name=".data.services.TimerService"
            android:enabled="true"
            android:stopWithTask="false" />

        <activity
            android:name=".views.GamePropertiesActivity"
            android:parentActivityName=".views.GameRecycleViewActivity" />
        <activity
            android:name=".views.GameRecycleViewActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.LoginScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>